.cl-dark-blue { color: #2B4D8C !important; }
.bg-dark-blue { background-color: #2B4D8C !important; }

.cl-ocean-blue { color: #09a2d3; }
.bg-ocean-blue { background-color: #09a2d3; }

.cl-sandy-brown { color: #FFA64D; }
.bg-sandy-brown { background-color: #FFA64D; }

.cl-dark-brown { color: #2D3319; }